.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: 800px;
  width: 100%;
  z-index: 2;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(240, 240, 240, 0.5);
  border: 1px solid rgba(220, 220, 220, 0.3);
  border-radius: 8px;
}

.code {
  font-weight: 700;
  font-family: monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
